/* Board */

#board {
  width: min(90vw, 500px);
  aspect-ratio: 1;
  margin-bottom: 20px;

  display: grid;

  background: #131313;

  box-sizing: border-box;
}

.intersection {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  cursor: pointer;
}


/* Lines */
.intersection::before {
  content: "";

  width: 3pt;
  height: 3pt;
  position: absolute;
  left: 46%;
  top: 46%;
  border-radius: 50%;

  background: #eeeeee;

  z-index: 0;
}

.hoshi {  /* (star points) */
  position: absolute;
  width: 6pt;
  height: 6pt;
  margin: 0;
  border-radius: 50%;

  background: #eeeeee;

  z-index: 1;
}