/* General */
body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #131313;
  color: #eeeeee;

  font-family: Consolas, monospace;
}

h1 {
  margin: 30px 0 20px;
}

.spacing {
  width: 20px;
}


/* Control Elements */
button {
  margin-left: 10px;
  background: #131313;
  color: #eeeeee;

  border: 1px solid #eeeeee;
  border-radius: 0;

  padding: 6px 20px;
  font-family: Consolas, monospace;
  font-size: 16px;

  cursor: pointer;
}
button:enabled:hover {
  background: #333;
}
button:disabled {
  border-color:gray;
}

select {
  background: #131313;
  color: #eeeeee;

  border: 1px solid #eeeeee;
  border-radius: 0;

  padding: 6px 16px;
  font-family: Consolas, monospace;
  font-size: 16px;
}
select:hover {
  background: #333;
}


/* Controls, Info */
.controls {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 20px;
}

#info {
  height: 1rem;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;

  font-weight: bold
}

#captures {
  width: min(90vw, 500px);
  height: 1rem;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-evenly;
}

