/* Board */

#board {
  background: #f2b06d;
  border: 3px solid #966D43;
}


/* Lines */
.intersection::before {
  background: #2D2014;
}

.intersection::after {
  background: #2D2014;
}

.hoshi {  /* (star points) */
  background: #2D2014;
}