/* Stones */

.stone {
  width: 90%;
  height: 90%;
  border-radius: 50%;

  z-index: 2;

  box-shadow:
    2px 3px 4px rgba(0, 0, 0, 0.4);
}

.stone.black {background: #111111}
.stone.white {background: #eeeeee}

.preview {
  opacity: 0.5;
  pointer-events: none;
}

.dead {
  opacity: 0.5;
  pointer-events: none;
}

.lastMoveMark {
  position: absolute;
  width: 40%;
  height: 40%;

  border: 3px solid #dd4444;
  border-radius: 50%;

  box-sizing: border-box;
  z-index: 3;

  pointer-events: none;
}